<?xml version="1.0" encoding="utf-8"?>
<!-- Requires the Microsoft "IIS CORS Module" (install once, then iisreset).
     Place in the web root of the site that serves the REST/WebX endpoints.
     Do NOT also add CORS headers in NGINX: duplicate Access-Control-Allow-Origin headers make browsers reject the response. -->
<configuration>
  <system.webServer>
    <cors enabled="true" failUnlistedOrigins="true">
      <add origin="https://esp046-cyber.github.io" allowCredentials="true" maxAge="600">
        <allowHeaders allowAllRequestedHeaders="false">
          <add header="Authorization" />
          <add header="Content-Type" />
        </allowHeaders>
        <allowMethods>
          <add method="GET" />
          <add method="PUT" />
          <add method="POST" />   <!-- needed for the login POST and alarm acknowledge -->
          <add method="OPTIONS" />
        </allowMethods>
      </add>
    </cors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
